---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact — Pianeta.Studio" chrome={true}>
  <article class="px-6 lg:px-12 pt-16 pb-16 max-w-[720px]">
    <h1 class="text-4xl font-black mb-6">Contact</h1>
    <div class="prose-eclag"><p class='text-lg'>Write to us: <a class='underline' href='mailto:max@pianeta.studio'>max@pianeta.studio</a></p></div>
  </article>
</BaseLayout>
